@font-face{font-family: source_code_default; src:    url('Source_Code_Pro/SourceCodePro-Light.ttf');}

html{
    /*
    position: relative;
    width: 2165px;
    height: 1349px;
    background-color: black;
    */
    
	position: absolute;
    width: 100%;
    height: 100%;
    /*
    left: 139px;
    top: 127px;
    background-size: cover;
    background-repeat: no-repeat;
    */
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.43) 0%, rgba(26, 81, 146, 0.21573) 0.01%, rgba(211, 164, 121, 0.223958) 0.02%, rgba(0, 113, 247, 0.194844) 45.31%, rgba(101, 0, 73, 0.3139) 100%);

}

#button_m{
    width: 35%;
    height: 70%;
    top: 15%;
    left: 10%;

    background: #99FFCE;

}

#button_n{
    width: 35%;
    height: 70%;
    right: 10%;
    top: 15%;

    background: #8EA4CF;
    
}

table{
    align-content: center;
    margin: auto;
}

button{
    position: absolute;
    border-radius: 3vw;
    
    font-family: 'source_code_default';
    font-style: normal;
    font-weight: 5vw;
    line-height: 12vw;
    font-size: 25vw;
    
    color: #000000;
}